@mixin circle($width, $color) {
  width: $width;
  height: $width;
  -webkit-border-radius: $width/2;
  -moz-border-radius: $width/2;
  -o-border-radius: $width/2;
  -ms-border-radius: $width/2;
  border-radius: $width/2;
  background-color: $color;
}

@mixin triangle($width, $dir, $color) {
  width: 0;
  height: 0;
  display: block;
  @if $dir==up {
    border-left: $width solid transparent;
    border-right: $width solid transparent;
    border-bottom: $width solid $color;
  }
  @else if $dir==down {
    border-left: $width solid transparent;
    border-right: $width solid transparent;
    border-top: $width solid $color;
  }
  @else if $dir==left {
    border-top: $width solid transparent;
    border-bottom: $width solid transparent;
    border-right: $width solid $color;
  }
  @else if $dir==right {
    border-top: $width solid transparent;
    border-bottom: $width solid transparent;
    border-left: $width solid $color;
  }
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin title {
  @include bernier_regularregular;
  font-size: rem(63px);
}

%clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.hide {
  display: none!important; // for js
}

//responsive
@function rem($px) {
  @return $px / 16px+0rem;
}

@mixin big {
  @media screen and (max-width: 1400px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: 992px) {
    @content;
  }
}

@mixin tablets {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin phones {
  @media screen and (max-width: 480px) {
    @content;
  }
}

@mixin mini {
  @media screen and (max-width: 400px) {
    @content;
  }
}

@mixin roboto {
  font-family: 'roboto';
}

@mixin roboto-bold {
  font-family: 'roboto-bold';
}

@mixin roboto-bolditalic {
  font-family: 'roboto-bolditalic';
}

@mixin roboto-italic {
  font-family: 'roboto-italic';
}

@mixin roboto-light {
  font-family: 'roboto-light';
}

@mixin roboto-lightitalic {
  font-family: 'roboto-lightitalic';
}

@mixin roboto-medium {
  font-family: 'roboto-medium';
}

@mixin roboto-mediumitalic {
  font-family: 'roboto-mediumitalic';
}

@mixin roboto-regular {
  font-family: 'roboto-regular';
}

@mixin fontawesomeregular {
  font-family: 'fontawesomeregular';
}

@mixin bernier_regularregular {
  font-family: 'bernier_regularregular';
}

@mixin bernier_shaderegular {
  font-family: 'bernier_shaderegular';
}

@mixin bernier_distressedregular {
  font-family: 'bernier_distressedregular';
}

@mixin fontawesome {
  font-family: 'fontawesomeregular';
}