extends ../_templateindex

block variables
  - var title = 'Главная'
block content
    .wrapper
        include ../blocks/index/parallax
        section.section.index
            .index__menu
                include ../blocks/index/flipper
            a.index__authorization(href="#") Авторизоваться
            .index__copyright
                +copyright('index')    

