//- Список навигации
- 
  var pages = [
    {
      link: 'about',
      title: 'Обо мне' 
    },{
      link: 'works',
      title: 'Мои работы' 
    },{
      link: 'blog',
      title: 'Блог' 
    },{
      link: 'index',
      title: 'Авторизация' 
    }
  ]

//-Список навигации индекс
- 
  var pagesindex = [
    {
      link: 'about',
      title: 'Обо мне' 
    },{
      link: 'works',
      title: 'Мои работы' 
    },{
      link: 'blog',
      title: 'Блог' 
    }
  ]

- 
  var tabs = [
    {
      link: 'admin1',
      title: 'TAB1' 
    },{
      link: 'admin2',
      title: 'TAB2' 
    },{
      link: 'admin3',
      title: 'TAB3' 
    },
    {
      link: 'admin4',
      title: 'TAB4' 
    }
  ]

//-Список скиллов
- 
  var skills = [
    {
      title: 'Frontend',
      skill:  [{
                tech: 'HTML5',
                value: '90'
                },{
                tech: 'CSS3',
                value: '95'
                },{
                tech: 'jQuery',
                value: '40'
                },{
                tech: 'JavaScript',
                value: '20'
                }
              ] 
    },{
      title: 'Backend',
      skill: [{
                tech: 'PHP',
                value: '5'
                },{
                tech: 'mySQL',
                value: '0'
                },{
                tech: 'Node.js & npm',
                value: '10'
                },{
                tech: 'Mongo.db',
                value: '0'
                }
              ]  
    },{
      title: 'Workflow',
      skill: [{
                tech: 'Git',
                value: '35'
                },{
                tech: 'Gulp',
                value: '25'
                },{
                tech: 'Terminal',
                value: '15'
                }
              ] 
    }
  ]
//- Список контактов
- 
  var contacts = [
    {
      img: 'skype',
      text: 'Skype_kdn',
      link: 'tel:Skype_kdn'
    },{
      img: 'envelope',
      text: 'astahov@gmail.com',
      link: 'mailto:astahov@gmail.com'
    },{
      img: 'phone',
      text: '+7 098 765 43 21',
      link: 'tel:+70987654321'
    },{
      img: 'map_marker',
      text: 'Бутан, г.Паро, ул.Бридж',
      link: 'https://www.google.com/maps/place//@27.4339107,89.4088839,16z/data=!4m2!3m1!1s0x0:0xd71bdceda113e013'
    }
  ]
  //-Список отзывов
- 
  var rumors = [
    {
      text: 'Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!',
      img: 'kov',
      name: 'Ковальчук Дмитрий',
      post: 'Основатель Loftschool'
    },{
      text: 'Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!',
      img: 'sab',
      name: 'Сабанцев Владимир',
      post: 'Преподаватель Loftschool'
    }
  ]

