.anchors {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: sticky;
    top:40px;
}

.anchors__item {
    text-align: right;
    margin-bottom: 20px;
    &:last-child {
        margin-bottom: 0;
    }
    &.anchors__item_active {
        .anchors__link {
            color: $greenlight;
            @include roboto-bold;
            &:after {
                top: 0;
                bottom: 0;
            }
        }
    }
}

.anchors__link {
    min-height: 40px;
    color: $grey;
    display: flex;
    align-items: center;
    position: relative;
    transition: .3s;
    &:after {
        content: '';
        width: 4px;
        position: absolute;
        top: 50%;
        bottom: 50%;
        right: -15px;
        background-color: $greenlight;
        display: block;
        transition: .3s;
    }
    &:hover {
        color: $greenlight;
        @include roboto-bold;
        &:after {
            top: 0;
            bottom: 0;
        }
    }
}