.arrow {
    &.arrow_hero, &.arrow_reviews {
        .arrow__img {
            fill: rgba(255, 255, 255, .5);
        }
        &:hover {
            .arrow__img {
                fill: rgba(255, 255, 255, 1);
            }
        }
    }
    
}

.arrow__img {
    width: rem(30px);
    height: rem(18px);
    fill: #fff;
    transition: .3s;
    &.arrow__img_up {
        transform: rotate(180deg);
    }
}