.buttons {
    .buttons__list {
        justify-content: space-around;
        display: flex;
        .buttons__item {
            width: 100%;
            margin: 0;
            border-right: rem(1px) solid rgba(255,255,255,.85);
            &:last-child {
                border: none;
            }
            .buttons__link {
                @include roboto-medium;
                color: #fff;
                transition: .3s;
                text-align: center;
                background-color: $greenlight;
                padding: rem(15px) rem(30px);
                white-space: nowrap;
                &:hover {
                    background-color: $green;
                }
            }
        }
    }
    &.buttons_login {
        .buttons__link {
            padding: rem(15px) 0;
        }
    }
}