.login-form {
    height: 100%;
}
.login-form__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: $grey;
    opacity: .8;
    height: 100%;
}

.login-form__fields {
    // margin: 0 20px;
    width: 100%;
    padding: 0 20px;
}

.login-form__block {
    width: 100%;
    display: flex;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 20px;
    &:last-child {
        margin-bottom: 0;
    }
}

.login-form__pic {
    width: 40px;
    height: 40px;
    @include center;
    background-color: #f0efe9;
}

.login-form__img {
    width: 17px;
    height: 17px;
    fill: #c4cbcd;
}

.login-form__input {
    background-color: #fff;
    flex: 1;
    padding-left: 20px;
    color: $grey;
}

.login-form__captcha {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form__checkbox {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    margin-bottom: 10px;
}

.login-form__checkbox-input {
    position: absolute;
    top: 0;
    left: -9999px;
    &:checked+.login-form__checkbox-pic {
        .login-form__checkbox-img {
            transform: scale(1);
        }
    }
}

.login-form__checkbox-pic {
    width: 20px;
    height: 20px;
    background-color: $greenlight;
    border-radius: 2px;
    margin-right: 15px;
    @include center;
}

.login-form__checkbox-img {
    width: 12px;
    height: 12px;
    transform: scale(0);
    transition: .3s;
    fill: #fff;
}
.login-form__captcha-title {
    @include roboto-bold;
    margin-bottom: 10px;
}
.login-form__captcha-row {
    display: flex;
}
.login-form__radio {
    display: flex;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    margin-right: 40px;
    &:last-child {
        margin-right: 0;
    }
}
.login-form__radio-input {
    position: absolute;
    top: 0;
    left: -9999px;
    &:checked+.login-form__radio-img:after {
        transform: scale(1);
    }
}
.login-form__radio-img {
    @include circle(20px, #fff);
    border: 1px solid #c4cbcd;
    margin-right: 15px;
    position: relative;
    @include center;
    &:after {
        content: '';
        @include circle(8px, $greenlight);
        transform: scale(0);
        transition: .3s;
    }
}
.login-form__buttons {
    width: 100%;
}