
.reviews-form {
    position: relative;
    z-index: 1;
}
.reviews-form__fields {
    margin-bottom: 20px;
}

.reviews-form__label {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 90%;
    &:last-child {
        margin-bottom: 0;
    }
}

.reviews-form__input {
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 6px;
    width: 100%;
}

.reviews-form__textarea {
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 10px 20px;
    width: 90%;
    background-color: #fff;
    border-radius: 6px;
    height: 140px;
    @include roboto-regular;
    font-size: 16px;
}