.rumors {
    display: flex;
}
.rumors__item {
    max-width: 380px;
    position: relative;
    margin-right: 40px;
    &:before {
        content: '“';
        font-family: 'bernier_regularregular';
        font-size: 140px;
        line-height: 1;
        position: absolute;
        top:-80px;
        color: $greydark;
        opacity: .2;
    }
}
.rumors__text {
    margin-bottom: 20px;
}
.rumors__user {
    display: flex;
    align-items: center;
}
.rumors__img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    @include center;
    margin-right: 20px;
    &:last-child {
        margin-right: 0;
    }
}
.rumors__img-pic {
    max-width: 100%;    
}
.rumors__block {
    color:$greenlight;
}
.rumors__name {
    @include roboto-bold;
    margin-bottom: 5px;
}