.title {
    position: relative;
    @include bernier_regularregular;
    font-size: rem(63px);
    flex-direction: column;
    color: $greydark;
    @include center;
    &:hover {
        .title__text:after,
        .title__text:before {
            opacity: 1;
        }
        .title__img {
            fill: rgba(22, 194, 170, .1);
        }
    }
    &.title_about {
        .title__img {
            width: rem(330px);
            height: rem(120px);
        }
    }
    &.title_works {
        .title__img {
            width: rem(500px);
            height: rem(150px);
        }
    }
    &.title_reviews {
        .title__img {
            width: rem(500px);
            height: rem(170px);
        }
    }
    &.title_blog {
        .title__img {
            width: rem(300px);
            height: rem(200px);
            fill: rgba(255, 255, 255, .07);
            top:rem(-40px);
        }
        .title__text {
            color:#fff;
        }
    }
}

.title__img {
    fill: rgba(109, 112, 112, .07);
    position: absolute;
    transition: .3s;
}

.title__text {
    white-space: nowrap;
    line-height: 1;
    text-align: center;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    &:after {
        display: block;
        content: "-";
        opacity: .2;
        margin-left: rem(15px);
        transition: .3s;
    }
    &:before {
        display: block;
        content: "-";
        opacity: .2;
        margin-right: rem(15px);
        transition: .3s;
    }
}