.anchors {
    position: sticky;
    top: rem(10px);
    @include tablets {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        box-shadow: rgba(0, 0, 0, .6) 2px 2px 5px 2px;
    }
   
    .anchors__tab {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: rem(-12px);
        width: rem(60px);
        height: rem(60px);
        background-color: $greenlight;
        border-radius: 50%;
        box-shadow: rgba(0, 0, 0, .6) 2px 0 5px 2px;
        display: none;
        @include tablets {
            display: block;
            z-index: -1;
        
        }
    }
}

.anchors__list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @include tablets {
        background-color: $greenlight;
        padding-top: rem(20px);
        padding-right: rem(40px);
        padding-left: rem(10px);
        padding-bottom: rem(20px);
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}

.anchors__item {
    text-align: right;
    margin-bottom: rem(20px);
    &:last-child {
        margin-bottom: 0;
    }
    &.anchors__item_active {
        .anchors__link {
            color: $greenlight;
            @include tablets {
                color: #fff;
            }
            @include roboto-bold;
            &:after {
                top: 0;
                bottom: 0;
                @include tablets {
                    display: none;
                }
            }
        }
    }
}

.anchors__link {
    min-height: rem(40px);
    color: $grey;
    display: flex;
    align-items: center;
    position: relative;
    transition: .3s;
    &:after {
        content: '';
        width: rem(4px);
        position: absolute;
        top: 50%;
        bottom: 50%;
        right: rem(-15px);
        background-color: $greenlight;
        display: block;
        transition: .3s;
        // transition-delay: .2s;
    }
    &:hover {
        color: $greenlight;
        @include roboto-bold;
        &:after {
            top: 0;
            bottom: 0;
            @include tablets {
                display: none;
            }
        }
    }
    @include tablets {
        color: rgba(255, 255, 255, .7);
        &:hover {
            color: rgba(255, 255, 255, 1);
            @include roboto-bold;
        }
    }
}