form.login-form(action="")
    .login-form__container
        .login-form__fields
            each item in [['login','Логин'],['password','Пароль']]
                label.login-form__block
                    .login-form__pic
                        svg.login-form__img
                            use(xlink:href=`./assets/img/sprite.svg#${item[0]}`)
                    input.login-form__input(type="text" placeholder=`${item[1]}`)
        .login-form__captcha
            label.login-form__checkbox
                input.login-form__checkbox-input(type="checkbox")
                .login-form__checkbox-pic
                     svg.login-form__checkbox-img
                            use(xlink:href='./assets/img/sprite.svg#check')
                .login-form__checkbox-text Я человек
            .login-form__captcha-title Вы точно не робот?
            .login-form__captcha-row
                label.login-form__radio
                    input.login-form__radio-input(type="radio" name="captcha")
                    .login-form__radio-img
                    .login-form__radio-text Да
                label.login-form__radio
                    input.login-form__radio-input(type="radio" name="captcha")
                    .login-form__radio-img
                    .login-form__radio-text Не уверен
        .login-form__buttons
            .buttons.buttons_login
                ul.buttons__list
                    each item in [['На главную','main'],['Войти','submit']]
                        li.buttons__item
                            a.buttons__link(href="#" id=`${item[1]}`) #{item[0]}    

        
        