.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    &.user_index {
        color: $greydark;
    }
    &.user_blog {
        .user__title {
            margin-bottom: rem(10px);
        }
        .user__text {
            @include roboto-regular;
        }
    }
}

.user__img {
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: rem(20px);
    width: rem(150px);
    height: rem(150px);
}

.user__img-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user__name {
    @include roboto-medium;
    font-size: rem(35px);
    margin-bottom: rem(10px);
}

.user__text {
    @include roboto-light;
}