.header {
  display: flex; 
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background: green;;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  &__text {
    font: 45px 'Arial', sans-serif;
    color: #fff;
  }
  &__logo {   
    width: 100px;
    height: 100px;
    fill: red;
  }
}

