.about {
    display: flex;
    @include tablets {
        flex-direction: column;
    }
}

.about__left,
.about__right {
    
    width: 50%;
    @include tablets {
        width: 100%;
    }

}

.about__left {
    background-color: $beigelight;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: rem(40px) 0;
    @include big {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
}

.about__left-column {
    display: flex;
    justify-content: center;
    width: 45%;
    @include big {
        width: 90%;
        margin-bottom: rem(60px);
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.about__right {
    padding: rem(40px);
   
    background-color: $beige; // padding: 0 rem(20px);
}

// .about__skills {
//     width: 90%;
// }