.blog {
    display: flex;
    
    justify-content: center;
    width: 95%;
    margin: 50px auto 130px;
}

.blog__aside {
    width: 25%;
    margin-right: 80px;
    max-width: 300px;
    // position: relative;

}

.blog__content {
    width: 75%;
    max-width: 980px;
}

.blog__article {
    padding-bottom: 70px;
    margin-bottom: 70px;
    border-bottom: 5px solid rgba(109, 112, 112, .07);
    &:last-child {
        margin-bottom: 0;
        border-bottom: none;
    }
    h4 {
        @include bernier_regularregular;
        font-size: 35px;
        color: $greydark;
        margin-bottom: 30px;
    }
    div {
        color: $greenlight;
        margin-bottom: 30px;
    }
    p {
        margin-bottom: 20px;
        margin-right: 100px;
    }
}