.hero {
    background-image: url('../img/hero-bg.png');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;  
        background-color: rgba(1, 102, 114, 0.3);
    }

}
.hero__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    position: relative;
    z-index: 1;
    // margin-bottom: 80px;
}
.hero__hamburger {
    &:hover {
        .hero__hamburger-img {
            fill: rgba(255, 255, 255, 1);
        }
    }
}

.hero__hamburger-img {
    width: 40px;
    height: 36px;
    fill: rgba(255, 255, 255, .5);
    transition: .3s;
}
.hero__user {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    z-index: 1;
    width: 90%;
}
.hero__arrow { 
    position: absolute;
    z-index: 1;
    bottom: 90px;   
}

.hero__title {
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    width:1190px;
    max-width: 100%;   
    height: 300px;
    fill: rgba(255, 255, 255, .06);

}