.index {
    height: 100vh;
    @include center;
    position: relative;
    color: #fff;
    @include roboto-light;
}

// .index__menu {
//     width: rem(380px);
// }
.index__authorization {
    position: absolute;
    top: rem(25px);
    right: rem(90px);
    color: #fff;
    padding: rem(10px) rem(30px);
    border: rem(1px) solid #fff;
    border-radius: rem(5px);
}

.index__copyright {
    max-width: 90%;
    position: absolute;
    bottom: rem(40px);
}