.admin-form
    form.admin-form__tag(action="")
        .admin-form__title Страница обо мне
        .admin-form__skills
            ul.admin-form__list
                li.admin-form__item
                    .admin-form__item-title Frontend
                        ul.admin-form__skills-list
                            li.admin-form__skills-item
                                .admin-form__skills-name Html
                                input.admin-form__skills-value(type='text')
                            li.admin-form__skills-item
                                .admin-form__skills-name CSS
                                input.admin-form__skills-value(type='text')
                            li.admin-form__skills-item
                                .admin-form__skills-name JavaScript
                                input.admin-form__skills-value(type='text')
                li.admin-form__item
                    .admin-form__item-title Backend
                        ul.admin-form__skills-list
                            li.admin-form__skills-item
                                .admin-form__skills-name PHP
                                input.admin-form__skills-value(type='text')
                            li.admin-form__skills-item
                                .admin-form__skills-name Node.js
                                input.admin-form__skills-value(type='text')
                            li.admin-form__skills-item
                                .admin-form__skills-name Mongo.db
                                input.admin-form__skills-value(type='text')
                li.admin-form__item
                    .admin-form__item-title Workflow
                        ul.admin-form__skills-list
                            li.admin-form__skills-item
                                .admin-form__skills-name Git
                                input.admin-form__skills-value(type='text')
                            li.admin-form__skills-item
                                .admin-form__skills-name Gulp
                                input.admin-form__skills-value(type='text')
                            li.admin-form__skills-item
                                .admin-form__skills-name Terminal
                                input.admin-form__skills-value(type='text')
