.parallax
    .parallax__layer
        img(src='./assets/img/parallax/Layer1.png')
    .parallax__layer
        img(src='./assets/img/parallax/Layer2.png')
    .parallax__layer.cloud4
        img(src='./assets/img/parallax/cloud2.png')
    .parallax__layer
        img(src='./assets/img/parallax/Layer3.png') 
    .parallax__layer.cloud1
        img(src='./assets/img/parallax/cloud1.png')
    .parallax__layer
        img(src='./assets/img/parallax/Layer4.png')
    .parallax__layer
        img(src='./assets/img/parallax/Layer5.png')
    .parallax__layer.cloud5
        img(src='./assets/img/parallax/cloud1.png')
    .parallax__layer.cloud2
        img(src='./assets/img/parallax/cloud2.png')
    .parallax__layer
        img(src='./assets/img/parallax/Layer6.png')
    .parallax__layer
        img(src='./assets/img/parallax/Layer7.png')
    .parallax__layer.cloud6
        img(src='./assets/img/parallax/cloud6.png')  
    .parallax__layer.cloud3
        img(src='./assets/img/parallax/cloud7.png')
    
