.loftschool
  .loftschool__title
    +subtitle('loftschool', 'Сайт школы онлайн', 'образования')
  .loftschool__techs HTML, CSS, JAVASCRIPT
  a.loftschool__link(href='http://loftschool.ru' target="_blank")
    svg.loftschool__link-img 
      use(xlink:href='./assets/img/sprite.svg#link')
    .loftschool__link-text Посмотреть сайт
    

