ul.rumors
    each item in rumors
        li.rumors__item
            .rumors__text #{item.text}
            .rumors__user
                .rumors__img
                    img.rumors__img-pic(src=`./assets/img/reviews/${item.img}.png`)
                .rumors__block
                    .rumors__name #{item.name}
                    .rumors__post #{item.post}