.preloader
    img.preloader__img(src="./assets/img/bg.jpg")
    img.preloader__pic(src="./assets/img/tail-spin.svg")
    .preloader__count#count 0%
    //- img.preloader__pic(src="./assets/img/preloader_round.svg")